<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url = http://sisapi.selfip.com:8081; Database = Auth" />
  </connectionStrings>
    <appSettings>
      <add key="jwt.AuthKeyBase64" value="aXucu87ngFK/hWzRF+rTaYpXM5WxmJJHBuXQs6MCVO+auC0uENr74ZyNd1dl8EB1" />
      <add key="jwt.audience" value="QfvqgIKp1fYQl8vWW78EfPKlhGM1mAae" />
      <add key="OriginWhitelist" value="http://localhost:9002;http://localhost:9003;http://football.webhop.net" />
    </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>